body {
    background-color: #EEEEEE;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    margin-bottom: 5px;
}
.message {
    margin-top: 5px;
}
.surface-content {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}
.parameters {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.parameters-item {
    display: flex;
    align-items: center;
}
.parameters-item label {
    padding-right: 20px;
    font-size: 18px;
}
.parameters-item input {
    width: 200px;
}
.parameters-item p {
    padding-left: 10px;
}